<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
   
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @Html.ActionLink("BOOK READING EVENT", "LoggedIn", "User", new { area = "" }, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                            <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item nav-link text-dark">
                            @Html.ActionLink("Home", "LoggedIn", "User")
                        </li>
                        <li class="nav-item nav-link text-dark">
                            @Html.ActionLink("About", "About", "Home")
                        </li>
                        <li class="nav-item nav-link text-dark">

                            @Html.ActionLink("Create Event", "CreateEvent", "Event")
                        </li>
                        <li class="nav-item nav-link text-dark">
                            @Html.ActionLink("My Events", "MyEvents", "Event", new { id = @ViewBag.Id }, null)
                        </li>
                        
                        <li class="nav-item nav-link text-dark">
                            <a  href="https://www.nagarro.com/en/contact-us">Customer-Support</a>
                        </li>

                    </ul>
                       

                </div>
            </div>
        </nav>
    </header>

    



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Book Reading Event</p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("scripts", required: false)
</body>
</html>

